/* LIGHT */
:root {
  --bg: #f8fafc;
  --surface: #ffffff;
  --text: #0f172a;
  --muted: #64748b;
  --border: #e2e8f0;
}

/* DARK */
body.dark {
  --bg: #020617;
  --surface: #020617;
  --text: #f8fafc;
  --muted: #94a3b8;
  --border: #1e293b;
}
